doctype 5
html
  head
    title Timestamp Microservice
    link(rel='stylesheet', href='style.css')
    link(href="https://fonts.googleapis.com/css?family=Monda", rel="stylesheet")
  body
    h4= message
  if message2
    h4= message2